# PostgreSQL 配置
POSTGRES_USER=operatornext
POSTGRES_PASSWORD=operatornext
POSTGRES_DB=operatornext
POSTGRES_PORT=5438

# PgAdmin 配置
PGADMIN_PORT=5051
PGADMIN_DEFAULT_EMAIL=admin@operatornext.dev
PGADMIN_DEFAULT_PASSWORD=operatornext

# Maildev 配置
MAILDEV_SMTP_PORT=1026
MAILDEV_WEB_PORT=8026

# MinIO 配置
MINIO_ROOT_USER=operatornext
MINIO_ROOT_PASSWORD=operatornext
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9003

# 数据卷名称
POSTGRES_VOLUME_NAME=operatornext-postgres-data
MINIO_VOLUME_NAME=operatornext-minio-data 